@import "../../Style/style.css";
@import "../../Style/variables";
@import "../../Style/mixins";

header {
  height: 399px;
  @include display($flexDirection: column);
}

#NewsImg {
  width: 1440px;
  height: 605px;
  position: relative;
  background: url("../../Images/News/Rectangle\ 40.png"),
    lightgray 50% / cover no-repeat;
  h2 {
    position: absolute;
    right: 130px;
    top: 312.5px;
    @include textStyle(32px, #fff, 100, normal);
    text-align: right;
  }
  h1 {
    position: absolute;
    right: 130px;
    top: 379.5px;
    @include textStyle(64px, #bece00, 800, normal);
    text-align: right;
  }
  h5 {
    position: absolute;
    left: 130px;
    top: 500px;
    width: 780px;
    height: 61px;
    @include textStyle(26px, #f5f5f5, 300);
  }
  div {
    width: 1439px;
    height: 312.806px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(0deg, #000 0%, rgba(2, 29, 37, 0) 100%);
  }
}

#NewsContent {
  padding: 44px 0 65px 0;
  @include display($flexDirection: column);
  .Cart {
    @include display;
    width: 1180px;
    height: 250px;
    padding: 0;
    img {
      width: 500px;
      height: 250px;
    }
    div {
      width: calc(100% - 500px - 43px);
      height: 230px;
      @include display($alignItem: start, $flexDirection: column);
      h4 {
        @include textStyle(20px, #021d25, 700, normal);
      }
      h3 {
        @include textStyle(20px, #021d25, 700, normal, italic);
      }
      h6 {
        margin: 20px 0 15px 0;
        width: 494px;
        height: 115.358px;
        @include textStyle(14px, #022d3a, 400, 24px);
      }
      h5 {
        width: 611px;
        text-align: right;
      }
    }
  }
  nav {
    width: 196.883px;
    height: 18px;
    @include display;
    a {
      @include textStyle(12px, #022d3a, 500, 18px);
    }
  }
}
