@import "../../Style/style.css";
:root {
  --desktop: 1440px;
  --content: 1180px;
}

@media screen and (max-width: 1440px) {
  :root {
    --desktop: 100%;
    --content: 1180px;
  }
}
@media screen and (max-width: 1200px) {
  :root {
    --desktop: 100%;
    --content: 780px;
  }
  :root .carousel1 .carouselTextH h1 {
    font-size: 52px;
  }
  :root header .head {
    width: 95%;
  }
  :root header .body nav {
    width: 95%;
  }
  :root header .foot {
    width: 95%;
  }
  :root header .body nav a,
  :root header .body nav a:hover,
  :root header .body nav #active {
    font-size: 14px;
  }
  :root footer .FooterContent {
    width: 95%;
  }
  #NewsContent .Cart {
    width: 780px;
  }
  #NewsContent .Cart img {
    width: 250px;
  }
  #NewsContent .Cart div {
    width: calc(100% - 250px - 20px);
  }
  #NewsContent .Cart div a {
    width: 500px;
  }
}
@media screen and (max-width: 780px) {
  :root {
    --content: 540px;
  }
}
#NewsImg {
  width: var(--desktop);
  height: 605px;
  position: relative;
  background: linear-gradient(to bottom, transparent 50%, black), url("../../Images/News/Rectangle 40.png");
}
#NewsImg h2 {
  position: absolute;
  right: 130px;
  top: 312.5px;
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  text-decoration: none;
  text-transform: capitalize;
  text-align: right;
}
#NewsImg h1 {
  position: absolute;
  right: 130px;
  top: 379.5px;
  color: #bece00;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-decoration: none;
  text-transform: capitalize;
  text-align: right;
}
#NewsImg h5 {
  position: absolute;
  left: 130px;
  top: 500px;
  width: 780px;
  height: 61px;
  color: #f5f5f5;
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  text-decoration: none;
  text-transform: capitalize;
}

#NewsContent {
  padding: 44px 0 65px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
}
#NewsContent .Cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 1180px;
  height: 250px;
  padding: 0;
}
#NewsContent .Cart img {
  width: 500px;
  height: 250px;
}
#NewsContent .Cart div {
  width: calc(100% - 500px - 43px);
  height: 230px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
}
#NewsContent .Cart div h4 {
  color: #021d25;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  text-transform: capitalize;
}
#NewsContent .Cart div h3 {
  color: #021d25;
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  text-transform: capitalize;
}
#NewsContent .Cart div h6 {
  margin: 20px 0 15px 0;
  width: 494px;
  height: 115.358px;
  color: #022d3a;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  text-transform: capitalize;
}
#NewsContent .Cart div a {
  width: 611px;
  text-align: right;
}
#NewsContent nav {
  width: 196.883px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
#NewsContent nav a {
  color: #022d3a;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
  text-transform: capitalize;
}

@media screen and (max-width: 1200px) {
  #NewsImg h2 {
    right: 20px;
  }
  #NewsImg h1 {
    right: 20px;
  }
  #NewsImg h5 {
    left: 20px;
  }
  #NewsContent .Cart {
    width: 780px;
  }
  #NewsContent .Cart img {
    width: 250px;
  }
  #NewsContent .Cart div {
    width: calc(100% - 250px - 20px);
  }
  #NewsContent .Cart div a {
    width: 500px;
  }
}/*# sourceMappingURL=News.css.map */