<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../Style/font.css" />
    <link rel="stylesheet" href="News.css" />
    <link rel="icon" href="../../Images/overz-logo.svg" />
    <title>News</title>
  </head>
  <body>
    <main>
      <header>
        <div class="head">
          <div class="nav">
            <div class="Search">
              <img src="../../Images/carbon_search.svg" />
              <a href="">Search</a>
            </div>
            <div class="FollowUs">
              <a href="">Follow Us</a>
            </div>
            <div class="LogIn">
              <img src="../../Images/healthicons_ui-user-profile.svg" />
              <a href="">Log In</a>
            </div>
            <button>EN</button>
          </div>
        </div>
        <div class="body">
          <a href="../../index.html"
            ><img src="../../Images/overz-logo.svg" alt="Overz"
          /></a>
          <nav>
            <a href="../../index.html">HOME</a>
            <a href="../aboutUs/AboutUs.html">About Us</a>
            <a href="../topos/Topos.html">Topos</a>
            <a href="../events/Events.html">Events</a>
            <a href="News.html">News</a>
            <a href="../vlog/Vlog.html">Vlog</a>
            <a href="">Gallery</a>
            <a href="">Skills</a>
            <a href="">Contact Us</a>
          </nav>
        </div>
        <div class="foot">
          <h2>Home/News</h2>
        </div>
      </header>
      <section id="NewsImg">
        <div></div>
        <h2>Noah Wheeler has flashed two</h2>
        <h1>8B's in Rocklands</h1>
        <h5>
          Noah Wheeler, who last year ticked his first three 8C’s, has flashed
          sky(8b) and The guest list (8B)in Rocklands. In the 8a ranking game,
          the 21-year-old is #10
        </h5>
      </section>
      <section id="NewsContent">
        <div class="Cart">
          <img src="../../Images/News/Rectangle 154.png" />
          <div>
            <h4>Mark Brand does Unendliche</h4>
            <h3>Geschichte 1+2+3 (9a)</h3>
            <h6>
              Mark Brand has done Unendliche Geschichte 1+2+3 (9a)n Magic wood
              "Funny that a route is the highlight of a bouldering trip. Part 3
              adds some great climbing to The Never Ending Story(8B+)and makes
              it feel like the proper line. Standing on top of the boulder felt
              so much better than stopping halfway and jumping off."
            </h6>
            <h5>Read More</h5>
          </div>
        </div>
        <div class="Cart">
          <img src="../../Images/News/Rectangle 156.png" />
          <div>
            <h4>Mark Brand does Unendliche</h4>
            <h3>Geschichte 1+2+3 (9a)</h3>
            <h6>
              Mark Brand has done Unendliche Geschichte 1+2+3 (9a)n Magic wood
              "Funny that a route is the highlight of a bouldering trip. Part 3
              adds some great climbing to The Never Ending Story(8B+)and makes
              it feel like the proper line. Standing on top of the boulder felt
              so much better than stopping halfway and jumping off."
            </h6>
            <h5>Read More</h5>
          </div>
        </div>
        <div class="Cart">
          <img src="../../Images/News/Rectangle 158.png" />
          <div>
            <h4>Mark Brand does Unendliche</h4>
            <h3>Geschichte 1+2+3 (9a)</h3>
            <h6>
              Mark Brand has done Unendliche Geschichte 1+2+3 (9a)n Magic wood
              "Funny that a route is the highlight of a bouldering trip. Part 3
              adds some great climbing to The Never Ending Story(8B+)and makes
              it feel like the proper line. Standing on top of the boulder felt
              so much better than stopping halfway and jumping off."
            </h6>
            <h5>Read More</h5>
          </div>
        </div>
        <div class="Cart">
          <img src="../../Images/News/Rectangle 160.png" />
          <div>
            <h4>Mark Brand does Unendliche</h4>
            <h3>Geschichte 1+2+3 (9a)</h3>
            <h6>
              Mark Brand has done Unendliche Geschichte 1+2+3 (9a)n Magic wood
              "Funny that a route is the highlight of a bouldering trip. Part 3
              adds some great climbing to The Never Ending Story(8B+)and makes
              it feel like the proper line. Standing on top of the boulder felt
              so much better than stopping halfway and jumping off."
            </h6>
            <h5>Read More</h5>
          </div>
        </div>
        <nav>
          <a href="">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="13"
              viewBox="0 0 12 13"
              fill="none"
            >
              <path
                d="M12 0.774906L12 12.2163L0.558592 6.49561L12 0.774906Z"
                fill="#022D3A"
              />
            </svg>
          </a>
          <a href="">1</a>
          <a href="">2</a>
          <a href="">3</a>
          <a href="">4</a>
          <a href="">5</a>
          <a href="">...</a>
          <a href="">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="13"
              viewBox="0 0 12 13"
              fill="none"
            >
              <path
                d="M-2.00048e-06 12.2163L0 0.774902L11.4414 6.49561L-2.00048e-06 12.2163Z"
                fill="#022D3A"
              />
            </svg>
          </a>
        </nav>
      </section>
      <footer>
        <div class="FooterContent">
          <a href="../../index.html">
            <img src="../../Images/overz-logo.svg" alt="Overz" />
          </a>
          <div class="footerNav">
            <nav>
              <a href="">My Account</a>
              <a href="../../index.html">HOME</a>
              <a href="">Contact Us</a>
              <a href="../aboutUs/AboutUs.html">About Us</a>
            </nav>
            <div class="FollowUs">
              <h2>Follow Us</h2>
              <nav>
                <a href=""><img src="../../Images/webSites/telegram.svg" /></a>
                <a href=""><img src="../../Images/webSites/instagram.svg" /></a>
                <a href=""><img src="../../Images/webSites/facebook.svg" /></a>
                <a href=""><img src="../../Images/webSites/linkedin.svg" /></a>
                <a href=""><img src="../../Images/webSites/youtube.svg" /></a>
              </nav>
            </div>
          </div>
        </div>
      </footer>
    </main>
  </body>
</html>
