@import "../../Style/style.css";
@import "../../Style/variables";
@import "../../Style/mixins";

#NewsImg {
  width: $desktop;
  height: 605px;
  position: relative;
  @include photoEfect(url("../../Images/News/Rectangle\ 40.png"), 50%);
  h2 {
    position: absolute;
    right: 130px;
    top: 312.5px;
    @include textStyle(32px, #fff, 100, normal);
    text-align: right;
  }
  h1 {
    position: absolute;
    right: 130px;
    top: 379.5px;
    @include textStyle(64px, #bece00, 800, normal);
    text-align: right;
  }
  h5 {
    position: absolute;
    left: 130px;
    top: 500px;
    width: 780px;
    height: 61px;
    @include textStyle(26px, #f5f5f5, 300);
  }
}

#NewsContent {
  padding: 44px 0 65px 0;
  @include display($flexDirection: column);
  .Cart {
    @include display;
    width: 1180px;
    height: 250px;
    padding: 0;
    img {
      width: 500px;
      height: 250px;
      border-radius: 5px;
    }
    div {
      width: calc(100% - 500px - 43px);
      height: 230px;
      @include display($alignItem: start, $flexDirection: column);
      h4 {
        @include textStyle(20px, #021d25, 700, normal);
      }
      h3 {
        @include textStyle(20px, #021d25, 700, normal, italic);
      }
      h6 {
        margin: 20px 0 15px 0;
        width: 494px;
        height: 115.358px;
        @include textStyle(14px, #022d3a, 400, 24px);
      }
      a {
        width: 611px;
        text-align: right;
      }
    }
  }
  nav {
    width: 196.883px;
    height: 18px;
    @include display;
    a {
      @include textStyle(12px, #022d3a, 500, 18px);
    }
  }
}

@media screen and (max-width: 1200px) {
  #NewsImg {
    h2 {
      right: 20px;
    }
    h1 {
      right: 20px;
    }
    h5 {
      left: 20px;
    }
  }
  #NewsContent {
    .Cart {
      width: 780px;
      img {
        width: 250px;
      }
      div {
        width: calc(100% - 250px - 20px);
        a {
          width: 500px;
        }
      }
    }
  }
}

@media screen and (max-width: 820px) {
  #NewsImg {
    height: 500px;
    @include photoEfect(
      url("../../Images/News/Rectangle\ 3.png") center center,
      50%
    );
    background-size: cover;
    h2 {
      top: 330px;
      width: 540px;
      @include textStyle(24px, #fff, 600, 27px);
    }
    h1 {
      top: 370px;
      width: 540px;
      @include textStyle(24px, #bece00, 600, 27px);
    }
    h5 {
      top: 420px;
      width: 500px;
      @include textStyle(14px, #f5f5f5, 400, 18px);
    }
  }
  #NewsContent {
    .Cart {
      width: 520px;
      height: 175px;
      padding: 0;
      img {
        width: 125px;
        height: 175px;
      }
      div {
        width: calc(100% - 125px - 10px);
        height: 170px;
        @include display(start, start, column);
        position: relative;
        h4,
        h3 {
          @include textStyle(14px, #021d25, 600, normal);
        }
        h6 {
          @include textStyle(14px, #887d7d, 400, 18px);
          overflow: hidden;
          width: 380px;
          height: 70.435px;
          &::before {
            content: "";
            width: 70.418px;
            height: 0px;
            border-bottom: 2px solid #bece00;
            position: absolute;
            top: 50px;
            left: 0;
          }
          &::after {
            content: "29 july 2023";
            color: black;
            position: absolute;
            top: 145px;
            right: 15px;
            @include textStyle(14px, #887d7d, 400, 15px);
          }
        }
      }
    }
    a {
      width: 611px;
      text-align: right;
    }
  }
}
nav {
  width: 196.883px;
  height: 18px;
  @include display;
  a {
    @include textStyle(12px, #022d3a, 500, 18px);
  }
}

@media screen and (max-width: 540px) {
  :root {
    --desktop: 100%;
    --content: 288px;
    #NewsImg {
      h2 {
        @include textStyle(18px, #fff, 600, 27px);
      }
      h1 {
        @include textStyle(18px, #bece00, 600, 27px);
      }
      h5 {
        width: 282px;
        @include textStyle(10px, #f5f5f5, 400, 18px);
      }
    }
    #NewsContent {
      .Cart {
        width: 288px;
        height: 176px;
        margin-bottom: 15px;
        img {
          width: 92px;
          height: 176px;
        }
        div {
          width: calc(100% - 92px - 8px);
          height: 170px;
          @include display(start, start, column);
          position: relative;
          h4,
          h3 {
            @include textStyle(12px, #021d25, 600, normal);
          }
          h6 {
            @include textStyle(10px, #887d7d, 400, 18px);
            width: 175.434px;
            height: 70.435px;
            &::after {
              @include textStyle(10px, #887d7d, 400, 15px);
            }
          }
        }
      }
      padding: 15px 0;
    }
  }
}
