@import "./mixins";

:root {
  --desktop: 1440px;
  --content: 1180px;
}

$desktop: var(--desktop);
$content: var(--content);

@media screen and (max-width: 1460px) {
  :root {
    --desktop: 100%;
    --content: 1180px;
  }
}
@media screen and (max-width: 1200px) {
  :root {
    --desktop: 100%;
    --content: 780px;
    .carousel1 .carouselTextH h1 {
      font-size: 52px;
    }
    header .head {
      width: 95%;
    }
    header .body nav {
      width: 95%;
    }
    header .foot {
      width: 95%;
    }
    header .body nav a,
    header .body nav a:hover,
    header .body nav #active {
      font-size: 14px;
    }
    footer .FooterContent {
      width: 95%;
    }
  }
  #NewsContent {
    .Cart {
      width: 780px;
      img {
        width: 250px;
      }
      div {
        width: calc(100% - 250px - 20px);
        a {
          width: 500px;
        }
      }
    }
  }
}

@media screen and (max-width: 820px) {
  :root {
    --desktop: 100%;
    --content: 520px;
    header {
      height: 112px;
      .head {
        width: 95%;
        height: 42px;
        @include display(end);
        .nav {
          width: 110px;
          height: 40px;
          .Search {
            display: none;
          }
          .FollowUs {
            display: none;
          }
          .LogIn {
            width: 72px;
          }
          button {
            margin-left: 11px;
          }
        }
      }
      .body {
        height: 70px;
        @include display();
        padding: 0 30px;
        a img {
          width: 48.041px;
          height: 46.557px;
        }
        nav {
          display: none;
        }
        .burgerMenu {
          display: flex;
          position: relative;
          &:hover .hiddenMenu {
            display: flex;
          }
          .hiddenMenu {
            width: 100%;
            height: 100vh;
            display: none;
            align-items: center;
            justify-content: center;
            position: fixed;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: 3;
            nav {
              display: flex;
              width: 220px;
              height: 474px;
              padding: 36px 16px 36px 16px;
              flex-direction: column;
              justify-content: space-between;
              align-items: center;
              border-radius: 5px;
              background: #fff;
              box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
              a,
              p {
                @include textStyle(14px, #000, 600, 26px);
                cursor: pointer;
              }
              #Search {
                @include textStyle(12px, #000, 500, 12px);
                border-bottom: 1px solid black;
              }
            }
          }
        }
      }
    }
    #HomeCarousel {
      width: $desktop;
      height: 305px;
    }
    .w-100 {
      width: $desktop !important;
      min-width: $content !important;
      height: 305px !important;
    }
    .carousel1 {
      .carouselTextH {
        height: 65px;
        h2 {
          text-align: right;
          font-size: 14px;
          font-weight: 600;
          line-height: 26px;
        }
        h1 {
          font-size: 22px;
          line-height: 30px;
        }
      }
      .carouselTextP {
        width: $content;
        height: 132px;
        p {
          width: 400px;
          height: 109px;
          font-size: 12px;
          font-weight: 500;
          line-height: 15px;
        }
      }
    }
    .VideoCart {
      @include cart(540px, 335px);
      padding: 15px;
      div {
        width: 510px;
        height: 250px;
      }
      p {
        margin: 0;
      }
      a {
        display: none;
      }
    }
    .Cart {
      @include cart(250px, 335px);
      padding: 15px;
      div {
        width: 220px;
        height: 220px;
        position: relative;
        img {
          width: 100%;
          height: 100%;
        }
        h2 {
          position: absolute;
          top: 185px;
          right: 14px;
          @include textStyle(24px);
        }
        svg {
          position: absolute;
          width: 220px;
          height: 220px;
          top: 45px;
          left: 0;
        }
      }
      p {
        width: 220px;
        @include textStyle(14px, #021d25, 600, 18px);
      }
      a {
        display: none;
      }
    }
  }
}
