@import "./style.scss";
@import "./variables";

header {
  height: 399px;
}

#AboutImg {
  width: 1439px;
  height: 603px;
  position: relative;
  background: url("../Images/AboutUs/Rectangle\ 3.png"),
    lightgray 50% / cover no-repeat;
  h1 {
    position: absolute;
    right: 130px;
    top: 463.5px;
    color: #fff;
    font-size: 64px;
    font-weight: 800;
    text-transform: capitalize;
  }
  div {
    width: 1439px;
    height: 312.806px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(0deg, #000 0%, rgba(2, 29, 37, 0) 100%);
  }
}

#About {
  width: $desktop;
  height: 500px;
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .text {
    width: 680px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    h2 {
      color: #000;
      font-size: 20px;
      margin-bottom: 42px;
      font-weight: 600;
      line-height: 30px;
      text-transform: capitalize;
    }
    p {
      color: #000;
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
      margin-bottom: 45px;
    }
  }
  .image {
    width: 480px;
    height: 500px;
    background: #f5f5f5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#AboutUsContent {
  width: $desktop;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
