:root {
  --desktop: 1440px;
  --content: 1180px;
}

@media screen and (max-width: 1460px) {
  :root {
    --desktop: 100%;
    --content: 1180px;
  }
}
@media screen and (max-width: 1200px) {
  :root {
    --desktop: 100%;
    --content: 780px;
  }
  :root .carousel1 .carouselTextH h1 {
    font-size: 52px;
  }
  :root header .head {
    width: 95%;
  }
  :root header .body nav {
    width: 95%;
  }
  :root header .foot {
    width: 95%;
  }
  :root header .body nav a,
  :root header .body nav a:hover,
  :root header .body nav #active {
    font-size: 14px;
  }
  :root footer .FooterContent {
    width: 95%;
  }
  #NewsContent .Cart {
    width: 780px;
  }
  #NewsContent .Cart img {
    width: 250px;
  }
  #NewsContent .Cart div {
    width: calc(100% - 250px - 20px);
  }
  #NewsContent .Cart div a {
    width: 500px;
  }
}
@media screen and (max-width: 820px) {
  :root {
    --desktop: 100%;
    --content: 520px;
  }
  :root header {
    height: 112px;
  }
  :root header .head {
    width: 95%;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  :root header .head .nav {
    width: 110px;
    height: 40px;
  }
  :root header .head .nav .Search {
    display: none;
  }
  :root header .head .nav .FollowUs {
    display: none;
  }
  :root header .head .nav .LogIn {
    width: 72px;
  }
  :root header .head .nav button {
    margin-left: 11px;
  }
  :root header .body {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 30px;
  }
  :root header .body a img {
    width: 48.041px;
    height: 46.557px;
  }
  :root header .body nav {
    display: none;
  }
  :root header .body .burgerMenu {
    display: flex;
    position: relative;
  }
  :root header .body .burgerMenu:hover .hiddenMenu {
    display: flex;
  }
  :root header .body .burgerMenu .hiddenMenu {
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 3;
  }
  :root header .body .burgerMenu .hiddenMenu nav {
    display: flex;
    width: 220px;
    height: 474px;
    padding: 36px 16px 36px 16px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
  }
  :root header .body .burgerMenu .hiddenMenu nav a,
  :root header .body .burgerMenu .hiddenMenu nav p {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
  }
  :root header .body .burgerMenu .hiddenMenu nav #Search {
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    text-decoration: none;
    text-transform: capitalize;
    border-bottom: 1px solid black;
  }
  :root #HomeCarousel {
    width: var(--desktop);
    height: 305px;
  }
  :root .w-100 {
    width: var(--desktop) !important;
    min-width: var(--content) !important;
    height: 305px !important;
  }
  :root .carousel1 .carouselTextH {
    height: 65px;
  }
  :root .carousel1 .carouselTextH h2 {
    text-align: right;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
  }
  :root .carousel1 .carouselTextH h1 {
    font-size: 22px;
    line-height: 30px;
  }
  :root .carousel1 .carouselTextP {
    width: var(--content);
    height: 132px;
  }
  :root .carousel1 .carouselTextP p {
    width: 400px;
    height: 109px;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
  }
  :root .VideoCart {
    width: 540px;
    height: 335px;
    padding: 30px 30px 50px 30px;
    background-color: #f5f5f5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
    cursor: pointer;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 15px;
  }
  :root .VideoCart p {
    width: 267px;
    height: auto;
    color: #021d25;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    text-decoration: none;
    text-transform: capitalize;
  }
  :root .VideoCart a {
    width: 320px;
    color: #bece00;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    text-decoration: none;
    text-transform: capitalize;
    text-align: right;
  }
  :root .VideoCart div {
    width: 510px;
    height: 250px;
  }
  :root .VideoCart p {
    margin: 0;
  }
  :root .VideoCart a {
    display: none;
  }
  :root .Cart {
    width: 250px;
    height: 335px;
    padding: 30px 30px 50px 30px;
    background-color: #f5f5f5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
    cursor: pointer;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 15px;
  }
  :root .Cart p {
    width: 267px;
    height: auto;
    color: #021d25;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    text-decoration: none;
    text-transform: capitalize;
  }
  :root .Cart a {
    width: 320px;
    color: #bece00;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    text-decoration: none;
    text-transform: capitalize;
    text-align: right;
  }
  :root .Cart div {
    width: 220px;
    height: 220px;
    position: relative;
  }
  :root .Cart div img {
    width: 100%;
    height: 100%;
  }
  :root .Cart div h2 {
    position: absolute;
    top: 185px;
    right: 14px;
    color: white;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    text-decoration: none;
    text-transform: capitalize;
  }
  :root .Cart div svg {
    position: absolute;
    width: 220px;
    height: 220px;
    top: 45px;
    left: 0;
  }
  :root .Cart p {
    width: 220px;
    color: #021d25;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    text-decoration: none;
    text-transform: capitalize;
  }
  :root .Cart a {
    display: none;
  }
}
:root {
  --desktop: 1440px;
  --content: 1180px;
}

@media screen and (max-width: 1460px) {
  :root {
    --desktop: 100%;
    --content: 1180px;
  }
}
@media screen and (max-width: 1200px) {
  :root {
    --desktop: 100%;
    --content: 780px;
  }
  :root .carousel1 .carouselTextH h1 {
    font-size: 52px;
  }
  :root header .head {
    width: 95%;
  }
  :root header .body nav {
    width: 95%;
  }
  :root header .foot {
    width: 95%;
  }
  :root header .body nav a,
  :root header .body nav a:hover,
  :root header .body nav #active {
    font-size: 14px;
  }
  :root footer .FooterContent {
    width: 95%;
  }
  #NewsContent .Cart {
    width: 780px;
  }
  #NewsContent .Cart img {
    width: 250px;
  }
  #NewsContent .Cart div {
    width: calc(100% - 250px - 20px);
  }
  #NewsContent .Cart div a {
    width: 500px;
  }
}
@media screen and (max-width: 820px) {
  :root {
    --desktop: 100%;
    --content: 520px;
  }
  :root header {
    height: 112px;
  }
  :root header .head {
    width: 95%;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  :root header .head .nav {
    width: 110px;
    height: 40px;
  }
  :root header .head .nav .Search {
    display: none;
  }
  :root header .head .nav .FollowUs {
    display: none;
  }
  :root header .head .nav .LogIn {
    width: 72px;
  }
  :root header .head .nav button {
    margin-left: 11px;
  }
  :root header .body {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 30px;
  }
  :root header .body a img {
    width: 48.041px;
    height: 46.557px;
  }
  :root header .body nav {
    display: none;
  }
  :root header .body .burgerMenu {
    display: flex;
    position: relative;
  }
  :root header .body .burgerMenu:hover .hiddenMenu {
    display: flex;
  }
  :root header .body .burgerMenu .hiddenMenu {
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 3;
  }
  :root header .body .burgerMenu .hiddenMenu nav {
    display: flex;
    width: 220px;
    height: 474px;
    padding: 36px 16px 36px 16px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
  }
  :root header .body .burgerMenu .hiddenMenu nav a,
  :root header .body .burgerMenu .hiddenMenu nav p {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
  }
  :root header .body .burgerMenu .hiddenMenu nav #Search {
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    text-decoration: none;
    text-transform: capitalize;
    border-bottom: 1px solid black;
  }
  :root #HomeCarousel {
    width: var(--desktop);
    height: 305px;
  }
  :root .w-100 {
    width: var(--desktop) !important;
    min-width: var(--content) !important;
    height: 305px !important;
  }
  :root .carousel1 .carouselTextH {
    height: 65px;
  }
  :root .carousel1 .carouselTextH h2 {
    text-align: right;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
  }
  :root .carousel1 .carouselTextH h1 {
    font-size: 22px;
    line-height: 30px;
  }
  :root .carousel1 .carouselTextP {
    width: var(--content);
    height: 132px;
  }
  :root .carousel1 .carouselTextP p {
    width: 400px;
    height: 109px;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
  }
  :root .VideoCart {
    width: 540px;
    height: 335px;
    padding: 30px 30px 50px 30px;
    background-color: #f5f5f5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
    cursor: pointer;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 15px;
  }
  :root .VideoCart p {
    width: 267px;
    height: auto;
    color: #021d25;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    text-decoration: none;
    text-transform: capitalize;
  }
  :root .VideoCart a {
    width: 320px;
    color: #bece00;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    text-decoration: none;
    text-transform: capitalize;
    text-align: right;
  }
  :root .VideoCart div {
    width: 510px;
    height: 250px;
  }
  :root .VideoCart p {
    margin: 0;
  }
  :root .VideoCart a {
    display: none;
  }
  :root .Cart {
    width: 250px;
    height: 335px;
    padding: 30px 30px 50px 30px;
    background-color: #f5f5f5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
    cursor: pointer;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 15px;
  }
  :root .Cart p {
    width: 267px;
    height: auto;
    color: #021d25;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    text-decoration: none;
    text-transform: capitalize;
  }
  :root .Cart a {
    width: 320px;
    color: #bece00;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    text-decoration: none;
    text-transform: capitalize;
    text-align: right;
  }
  :root .Cart div {
    width: 220px;
    height: 220px;
    position: relative;
  }
  :root .Cart div img {
    width: 100%;
    height: 100%;
  }
  :root .Cart div h2 {
    position: absolute;
    top: 185px;
    right: 14px;
    color: white;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    text-decoration: none;
    text-transform: capitalize;
  }
  :root .Cart div svg {
    position: absolute;
    width: 220px;
    height: 220px;
    top: 45px;
    left: 0;
  }
  :root .Cart p {
    width: 220px;
    color: #021d25;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    text-decoration: none;
    text-transform: capitalize;
  }
  :root .Cart a {
    display: none;
  }
}
.w-100 {
  width: var(--desktop) !important;
  min-width: var(--content) !important;
  height: 551px !important;
}

.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.carousel1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.carousel1 .carouselTextH {
  width: var(--content);
  height: 157px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}
.carousel1 .carouselTextH h2 {
  color: #bece00;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.carousel1 .carouselTextH h1 {
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: capitalize;
}
.carousel1 .carouselTextP {
  width: var(--content);
  height: 132px;
}
.carousel1 .carouselTextP p {
  color: #f5f5f5;
  width: 678px;
  text-align: left;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  text-transform: capitalize;
}

.d-none {
  display: flex !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

button {
  cursor: pointer;
}

main {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
}

header {
  width: 100%;
  height: 299px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
}
header .head {
  width: var(--content);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: row;
  flex-wrap: nowrap;
}
header .head .nav {
  width: 370px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
header .head .nav div {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
header .head .nav div p {
  border-bottom: 1px solid rgba(2, 29, 37, 0);
  color: #021d25;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  text-decoration: none;
  text-transform: capitalize;
  margin: 0;
  cursor: pointer;
}
header .head .nav div a {
  border-bottom: 1px solid rgba(2, 29, 37, 0);
  color: #021d25;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  text-decoration: none;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
header .head .nav div img {
  width: 24px;
  height: 24px;
}
header .head .nav .Search {
  width: 78px;
}
header .head .nav .FollowUs {
  width: 66px;
  height: 100%;
  position: relative;
}
header .head .nav .FollowUs:hover nav {
  display: flex;
}
header .head .nav .FollowUs nav {
  position: absolute;
  bottom: -30px;
  left: -41px;
  width: 150px;
  height: 30px;
  background-color: white;
  border-radius: 10px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  display: none;
}
header .head .nav .FollowUs nav a {
  border: none;
}
header .head .nav .LogIn {
  width: 72px;
}
header .head .nav button {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
  text-transform: capitalize;
  margin-left: 74.75px;
  background-color: unset;
  border: none;
  border-bottom: 2px solid black;
}
header .body {
  width: 100%;
  height: 249px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 12px 0 30px 0;
  background: var(--back-and-M-text, #021d25);
}
header .body nav {
  width: var(--content);
  height: auto;
  border-bottom: 2px solid #bece00;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
header .body nav #active {
  color: #bece00;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  text-decoration: none;
  text-transform: capitalize;
}
header .body nav a {
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  text-decoration: none;
  text-transform: capitalize;
}
header .body nav a:hover {
  color: #bece00;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  text-decoration: none;
  text-transform: capitalize;
}
header .body .burgerMenu {
  display: none;
}

#pageTitle {
  width: var(--content);
  height: 101px;
  padding-left: 39px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
#pageTitle h2 {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  text-decoration: none;
  text-transform: capitalize;
}
#pageTitle h2 a {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  text-decoration: none;
  text-transform: capitalize;
}

#HomeCarousel {
  width: var(--desktop);
  height: 551px;
}

#HomeContent {
  width: var(--content);
  height: auto;
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.VideoCart {
  width: 780px;
  height: 550px;
  padding: 30px 30px 50px 30px;
  background-color: #f5f5f5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
  cursor: pointer;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
}
.VideoCart p {
  width: 267px;
  height: auto;
  color: #021d25;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  text-decoration: none;
  text-transform: capitalize;
}
.VideoCart a {
  width: 320px;
  color: #bece00;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  text-decoration: none;
  text-transform: capitalize;
  text-align: right;
}
.VideoCart div {
  width: 720px;
  height: 325px;
  position: relative;
  background: linear-gradient(to bottom, transparent 50%, black), url("../Images/Rectangle 207.png");
  background-size: cover;
}
.VideoCart a {
  width: 720px;
}

.Cart {
  width: 380px;
  height: 550px;
  padding: 30px 30px 50px 30px;
  background-color: #f5f5f5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
  cursor: pointer;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
}
.Cart p {
  width: 267px;
  height: auto;
  color: #021d25;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  text-decoration: none;
  text-transform: capitalize;
}
.Cart a {
  width: 320px;
  color: #bece00;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  text-decoration: none;
  text-transform: capitalize;
  text-align: right;
}
.Cart div {
  width: 316px;
  height: 316px;
  position: relative;
}
.Cart div img {
  width: 100%;
  height: 100%;
}
.Cart div h2 {
  position: absolute;
  top: 248px;
  right: 37px;
  color: white;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  text-decoration: none;
  text-transform: capitalize;
}
.Cart div svg {
  position: absolute;
  top: 125px;
  left: 0;
}

footer {
  width: 100%;
  height: 250px;
  background: #021d25;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
footer .FooterContent {
  width: var(--content);
  height: 177px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
footer .FooterContent .footerNav {
  width: 190px;
  height: 177px;
  padding-left: 8px;
  border-left: 1px solid #bece00;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
}
footer .FooterContent .footerNav nav {
  width: auto;
  height: auto;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
}
footer .FooterContent .footerNav nav a {
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  text-decoration: none;
  text-transform: capitalize;
}
footer .FooterContent .footerNav .FollowUs {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
}
footer .FooterContent .footerNav .FollowUs h2 {
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  text-decoration: none;
  text-transform: capitalize;
}
footer .FooterContent .footerNav .FollowUs nav {
  flex-direction: row;
  width: 150px;
}
footer .FooterContent .footerNav .FollowUs nav a {
  margin-right: 10px;
}/*# sourceMappingURL=style.css.map */