.w-100 {
  width: 1440px !important;
  min-width: 1180px !important;
  height: 551px !important;
}

.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.carousel1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.carousel1 .carouselTextH {
  width: 1180px;
  height: 157px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}
.carousel1 .carouselTextH h2 {
  color: #bece00;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.carousel1 .carouselTextH h1 {
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: capitalize;
}
.carousel1 .carouselTextP {
  width: 1180px;
  height: 132px;
}
.carousel1 .carouselTextP p {
  color: #f5f5f5;
  width: 678px;
  text-align: left;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  text-transform: capitalize;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

button {
  cursor: pointer;
}

main {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
}

header {
  width: 100%;
  height: 299px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
}
header .head {
  width: 1180px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: row;
  flex-wrap: nowrap;
}
header .head .nav {
  width: 370px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
header .head .nav div {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
header .head .nav div:hover a {
  border-bottom: 1px solid #021d25;
}
header .head .nav div p {
  border-bottom: 1px solid rgba(2, 29, 37, 0);
  color: #021d25;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  text-decoration: none;
  text-transform: capitalize;
  margin: 0;
  cursor: pointer;
}
header .head .nav div a {
  border-bottom: 1px solid rgba(2, 29, 37, 0);
  color: #021d25;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  text-decoration: none;
  text-transform: capitalize;
}
header .head .nav div img {
  width: 24px;
  height: 24px;
}
header .head .nav .Search {
  width: 76px;
}
header .head .nav .FollowUs {
  width: 66px;
  height: 100%;
  position: relative;
}
header .head .nav .FollowUs:hover nav {
  display: flex;
}
header .head .nav .FollowUs nav {
  position: absolute;
  bottom: -30px;
  left: -41px;
  width: 150px;
  height: 30px;
  background-color: white;
  border-radius: 10px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  display: none;
}
header .head .nav .FollowUs nav a {
  border: none;
}
header .head .nav .LogIn {
  width: 72px;
}
header .head .nav button {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
  text-transform: capitalize;
  margin-left: 74.75px;
  background-color: unset;
  border: none;
  border-bottom: 2px solid black;
}
header .body {
  width: 100%;
  height: 249px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 12px 0 30px 0;
  background: var(--back-and-M-text, #021d25);
}
header .body nav {
  width: 1180px;
  height: auto;
  border-bottom: 2px solid #bece00;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
header .body nav #active {
  color: #bece00;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  text-decoration: none;
  text-transform: capitalize;
}
header .body nav a {
  width: 100px;
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  text-decoration: none;
  text-transform: capitalize;
}
header .body nav a:hover {
  color: #bece00;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 26px;
  text-decoration: none;
  text-transform: capitalize;
}
header .foot {
  width: 1180px;
  height: 101px;
  padding-left: 39px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
header .foot h2 {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  text-decoration: none;
  text-transform: capitalize;
}
header .foot h2 a {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  text-decoration: none;
  text-transform: capitalize;
}

#HomeCarousel {
  width: 1440px;
  height: 551px;
}

#HomeContent {
  width: 1180px;
  height: auto;
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.VideoCart {
  width: 780px;
  height: 550px;
  padding: 30px 30px 50px 30px;
  background-color: #f5f5f5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
  cursor: pointer;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
}
.VideoCart p {
  width: 267px;
  height: auto;
  color: #021d25;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  text-decoration: none;
  text-transform: capitalize;
}
.VideoCart a {
  width: 320px;
  color: #bece00;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  text-decoration: none;
  text-transform: capitalize;
  text-align: right;
}
.VideoCart div {
  width: 720px;
  height: 325px;
  position: relative;
  background: linear-gradient(0deg, #000203 0%, rgba(2, 29, 37, 0) 100%);
}
.VideoCart div iframe {
  width: 100%;
  height: 100%;
}
.VideoCart div svg {
  position: absolute;
  top: 166px;
  left: 0;
}
.VideoCart a {
  width: 720px;
}

.Cart {
  width: 380px;
  height: 550px;
  padding: 30px 30px 50px 30px;
  background-color: #f5f5f5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
  cursor: pointer;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
}
.Cart p {
  width: 267px;
  height: auto;
  color: #021d25;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  text-decoration: none;
  text-transform: capitalize;
}
.Cart a {
  width: 320px;
  color: #bece00;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  text-decoration: none;
  text-transform: capitalize;
  text-align: right;
}
.Cart div {
  width: 316px;
  height: 316px;
  position: relative;
}
.Cart div img {
  width: 100%;
  height: 100%;
}
.Cart div h2 {
  position: absolute;
  top: 248px;
  right: 37px;
  color: white;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  text-decoration: none;
  text-transform: capitalize;
}
.Cart div svg {
  position: absolute;
  top: 125px;
  left: 0;
}

footer {
  width: 100%;
  height: 250px;
  background: #021d25;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
footer .FooterContent {
  width: 1180px;
  height: 177px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
footer .FooterContent .footerNav {
  width: 180px;
  height: 177px;
  padding-left: 8px;
  border-left: 1px solid #bece00;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
}
footer .FooterContent .footerNav nav {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
}
footer .FooterContent .footerNav nav a {
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  text-decoration: none;
  text-transform: capitalize;
}
footer .FooterContent .footerNav .FollowUs {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
}
footer .FooterContent .footerNav .FollowUs h2 {
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  text-decoration: none;
  text-transform: capitalize;
}
footer .FooterContent .footerNav .FollowUs nav {
  flex-direction: row;
}
footer .FooterContent .footerNav .FollowUs nav a {
  margin-right: 10px;
}/*# sourceMappingURL=style.css.map */