<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../Style/font.css" />
    <link rel="stylesheet" href="LogIn.css" />
    <link rel="icon" href="../../Images/Overz.svg" />
    <title>Log In</title>
  </head>
  <body>
    <main>
      <header>
        <div class="head">
          <div class="nav">
            <div class="Search">
              <img src="../../Images/carbon_search.svg" />
              <a href="">Search</a>
            </div>
            <div class="FollowUs">
              <a href="">Follow Us</a>
            </div>
            <div class="LogIn">
              <img src="../../Images/healthicons_ui-user-profile.svg" />
              <a href="../logIn/Login.html">Log In</a>
            </div>
            <button>EN</button>
          </div>
        </div>
        <div class="body">
          <a href="../../index.html"
            ><img src="../../Images/overz-logo.svg" alt="Overz"
          /></a>
          <nav>
            <a href="../../index.html">HOME</a>
            <a href="../aboutUs/AboutUs.html">About Us</a>
            <a href="../topos/Topos.html">Topos</a>
            <a href="../events/Events.html">Events</a>
            <a href="../news/News.html">News</a>
            <a href="../vlog/Vlog.html">Vlog</a>
            <a href="../gallery/Gallery.html">Gallery</a>
            <a href="../skills/Skills.html">Skills</a>
            <a href="../contactUs/ContactUs.html">Contact Us</a>
          </nav>
        </div>
        <div class="foot">
          <h2><a href="../../index.html">Home</a>/Log In</h2>
        </div>
      </header>
      <section id="LogInContent">
        <div>
          <h3>Don’t Give Up. Go Up and Up. See You On Top</h3>
          <h1>join us</h1>
        </div>
        <form action="">
          <h2>Log In</h2>
          <input type="email" placeholder="e-mail" required />
          <input type="text" placeholder="password" minlength="8" required />
          <a href="">Forgot Password</a>
          <input id="button" type="submit" value="Log In" />
          <h2>Or</h2>
          <a href="SingUp.html" class="button">Sing Up</a>
        </form>
      </section>
      <footer>
        <div class="FooterContent">
          <a href="../../index.html">
            <img src="../../Images/overz-logo.svg" alt="Overz" />
          </a>
          <div class="footerNav">
            <nav>
              <a href="">My Account</a>
              <a href="../../index.html">HOME</a>
              <a href="ContactUs.html">Contact Us</a>
              <a href="../aboutUs/AboutUs.html">About Us</a>
            </nav>
            <div class="FollowUs">
              <h2>Follow Us</h2>
              <nav>
                <a href="https://web.telegram.org/a/"
                  ><img src="../../Images/webSites/telegram.svg"
                /></a>
                <a href="https://www.instagram.com/"
                  ><img src="../../Images/webSites/instagram.svg"
                /></a>
                <a href="https://www.facebook.com/"
                  ><img src="../../Images/webSites/facebook.svg"
                /></a>
                <a href="https://www.linkedin.com/"
                  ><img src="../../Images/webSites/linkedin.svg"
                /></a>
                <a href="https://www.youtube.com/"
                  ><img src="../../Images/webSites/youtube.svg"
                /></a>
              </nav>
            </div>
          </div>
        </div>
      </footer>
    </main>
  </body>
</html>
