@import "../../Style/style.css";
:root {
  --desktop: 1440px;
  --content: 1180px;
}

@media screen and (max-width: 1440px) {
  :root {
    --desktop: 100%;
    --content: 1180px;
  }
}
@media screen and (max-width: 1200px) {
  :root {
    --desktop: 100%;
    --content: 780px;
  }
  :root .carousel1 .carouselTextH h1 {
    font-size: 52px;
  }
  :root header .head {
    width: 95%;
  }
  :root header .body nav {
    width: 95%;
  }
  :root header .foot {
    width: 95%;
  }
  :root header .body nav a,
  :root header .body nav a:hover,
  :root header .body nav #active {
    font-size: 14px;
  }
  :root footer .FooterContent {
    width: 95%;
  }
  #NewsContent .Cart {
    width: 780px;
  }
  #NewsContent .Cart img {
    width: 250px;
  }
  #NewsContent .Cart div {
    width: calc(100% - 250px - 20px);
  }
  #NewsContent .Cart div a {
    width: 500px;
  }
}
@media screen and (max-width: 780px) {
  :root {
    --content: 540px;
  }
}
#LogInContent {
  width: var(--desktop);
  height: 600px;
  background: #3b4850;
  margin-bottom: 50px;
  padding: 0 130px 50px 130px;
  background: linear-gradient(to bottom, transparent 20%, black), url("../../Images/LogIn/Rectangle 6.png");
  display: flex;
  align-items: end;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
#LogInContent div {
  width: 464px;
  height: auto;
}
#LogInContent div h3 {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  text-transform: capitalize;
}
#LogInContent div h1 {
  color: #bece00;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  text-decoration: none;
  text-transform: capitalize;
}
#LogInContent form {
  width: 400px;
  height: 500px;
  padding: 63px 0 28px 0;
  border-radius: 5px;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
}
#LogInContent form h2 {
  color: #887d7d;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  text-decoration: none;
  text-transform: capitalize;
}
#LogInContent form h2:nth-child(1) {
  margin-bottom: 23px;
}
#LogInContent form input {
  width: 228px;
  height: 42px;
  margin-top: 30px;
  outline: none;
  border: none;
  border-bottom: 1px solid #9f9b9b;
}
#LogInContent form a {
  margin-left: 132px;
  color: #887d7d;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  text-transform: capitalize;
  margin-bottom: 42px;
}
#LogInContent form #button {
  margin-top: 8px;
  width: 112px;
  height: 44px;
  padding: 16px 32px;
  border: none;
  border-radius: 5px;
  background: #bece00;
  color: #f5f5f5;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  text-decoration: none;
  text-transform: capitalize;
}
#LogInContent form .button {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 126px;
  height: 45px;
  padding: 16px 32px;
  margin: 0;
  gap: 10px;
  border-radius: 5px;
  background: #bece00;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  color: #f5f5f5;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  text-decoration: none;
  text-transform: capitalize;
}

#SingUpContent {
  width: var(--desktop);
  height: 650px;
  background: #3b4850;
  margin-bottom: 50px;
  padding: 0 130px 50px 130px;
  background: linear-gradient(to bottom, transparent 20%, black), url("../../Images/LogIn/Rectangle 6.png");
  display: flex;
  align-items: end;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
#SingUpContent div {
  width: 464px;
  height: auto;
}
#SingUpContent div h3 {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  text-transform: capitalize;
}
#SingUpContent div h1 {
  color: #bece00;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  text-decoration: none;
  text-transform: capitalize;
}
#SingUpContent form {
  width: 500px;
  height: 550px;
  padding: 28px 18px 34px 18px;
  border-radius: 5px;
  background-color: white;
  position: relative;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
}
#SingUpContent form h2 {
  width: 100%;
  text-align: center;
  color: #887d7d;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  text-decoration: none;
  text-transform: capitalize;
}
#SingUpContent form h2:nth-child(1) {
  margin-bottom: 23px;
}
#SingUpContent form div {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
#SingUpContent form input {
  width: 228px;
  height: 42px;
  margin-top: 30px;
  outline: none;
  border: none;
  border-bottom: 1px solid #9f9b9b;
}
#SingUpContent form .radio {
  width: 100%;
  height: auto;
  margin-top: 70px;
}
#SingUpContent form .radio p {
  color: #887d7d;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  text-decoration: none;
  text-transform: capitalize;
}
#SingUpContent form .radio div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
#SingUpContent form .radio div input {
  width: 12px;
  height: 12px;
  margin: 0;
}
#SingUpContent form .radio div label {
  margin-left: 2px;
  cursor: pointer;
  color: #887d7d;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  text-decoration: none;
  text-transform: capitalize;
}
#SingUpContent form #button {
  margin-top: 47px;
  margin-left: 353px;
  width: 112px;
  height: 44px;
  padding: 16px 32px;
  border: none;
  border-radius: 5px;
  background: #bece00;
  color: #f5f5f5;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  text-decoration: none;
  text-transform: capitalize;
}

@media screen and (max-width: 1200px) {
  #LogInContent {
    padding: 0 20px 50px 20px;
  }
  #SingUpContent {
    height: 600px;
    padding: 15px 20px;
  }
}/*# sourceMappingURL=LogIn.css.map */