@import "../../Style/style.css";
@import "../../Style/variables";
@import "../../Style/mixins";

#EventsContent {
  width: $content;
  height: auto;
  @include display($flexWrap: wrap);
  .Cart {
    @include cart($height: 400px);
    div {
      h2 {
        width: 200px;
        text-align: right;
        top: 201px;
        @include textStyle($size: 32px, $heigth: normal);
      }
    }
  }
}

@media screen and (max-width: 820px) {
  #EventsContent .Cart {
    width: 250px;
    height: 250px;
    padding: 15px;
    div h2 {
      top: 150px;
      width: 100px;
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 540px) {
  :root {
    --desktop: 100%;
    --content: 288px;
    #EventsContent {
      .Cart {
        @include cart(134px, 144px);
        padding: 7px;
        margin-bottom: 15px;
        div {
          height: 129px;
          svg {
            top: 59px;
          }
          h2 {
            top: 91px;
            @include textStyle(12px, #fff, 600, 18px);
          }
        }
      }
    }
  }
}
