@import "../../Style/style.css";
:root {
  --desktop: 1440px;
  --content: 1180px;
}

@media screen and (max-width: 1440px) {
  :root {
    --desktop: 100%;
    --content: 1180px;
  }
}
@media screen and (max-width: 1200px) {
  :root {
    --desktop: 100%;
    --content: 780px;
  }
  :root .carousel1 .carouselTextH h1 {
    font-size: 52px;
  }
  :root header .head {
    width: 95%;
  }
  :root header .body nav {
    width: 95%;
  }
  :root header .foot {
    width: 95%;
  }
  :root header .body nav a,
  :root header .body nav a:hover,
  :root header .body nav #active {
    font-size: 14px;
  }
  :root footer .FooterContent {
    width: 95%;
  }
  #NewsContent .Cart {
    width: 780px;
  }
  #NewsContent .Cart img {
    width: 250px;
  }
  #NewsContent .Cart div {
    width: calc(100% - 250px - 20px);
  }
  #NewsContent .Cart div a {
    width: 500px;
  }
}
@media screen and (max-width: 780px) {
  :root {
    --content: 540px;
  }
}
#ContactUsContent {
  width: var(--desktop);
  height: 601px;
  background-image: url(../../Images/Contact\ Us/contactUs.png);
  margin-bottom: 50px;
  padding: 0 130px 50px 0;
  display: flex;
  align-items: end;
  justify-content: end;
  flex-direction: row;
  flex-wrap: nowrap;
}
#ContactUsContent .conUs {
  width: 127px;
  height: 86px;
  margin-right: 33px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
}
#ContactUsContent .conUs a {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  text-transform: capitalize;
}
#ContactUsContent .conUs nav {
  width: 127px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
#ContactUsContent form {
  width: 447px;
  height: 375px;
  padding: 15px 37px;
  border-radius: 5px;
  background-color: white;
  position: relative;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
}
#ContactUsContent form::before {
  content: "Send Us A Message";
  width: 315px;
  height: 48px;
  position: absolute;
  top: -50px;
  left: calc(50% - 157.5px);
  color: #f5f5f5;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  text-transform: capitalize;
}
#ContactUsContent form input {
  width: 228px;
  height: 42px;
  outline: none;
  border: none;
  border-bottom: 1px solid #9f9b9b;
}
#ContactUsContent form label {
  margin-top: 22px;
  color: #887d7d;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  text-transform: capitalize;
  margin-left: 14px;
}
#ContactUsContent form textarea {
  width: 373px;
  height: 165px;
  resize: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #9f9b9b;
}
#ContactUsContent form #button {
  margin-top: 8px;
  width: 76px;
  height: 37px;
  border: none;
  border-radius: 5px;
  background: #bece00;
  margin-left: 297px;
  color: #f5f5f5;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  text-decoration: none;
  text-transform: capitalize;
}/*# sourceMappingURL=ContactUs.css.map */