@import "../../Style/style.css";
@import "../../Style/variables";
@import "../../Style/mixins";

#ContactUsContent {
  width: $desktop;
  height: 601px;
  background-image: url(../../Images/Contact\ Us/contactUs.png);
  margin-bottom: 50px;
  padding: 0 130px 50px 0;
  @include display(end, end);
  .conUs {
    width: 127px;
    height: 86px;
    margin-right: 33px;
    @include display($alignItem: start, $flexDirection: column);
    a {
      @include textStyle(14px, #fff, 500, normal);
    }
    nav {
      width: 127px;
      @include display;
    }
  }
  form {
    width: 447px;
    height: 375px;
    padding: 15px 37px;
    border-radius: 5px;
    background-color: white;
    position: relative;
    @include display(space-between, start, column);
    &::before {
      content: "Send Us A Message";
      width: 315px;
      height: 48px;
      position: absolute;
      top: -50px;
      left: calc(50% - 157.5px);
      @include textStyle(32px, #f5f5f5, 600, normal);
    }
    input {
      width: 228px;
      height: 42px;
      outline: none;
      border: none;
      border-bottom: 1px solid #9f9b9b;
    }
    label {
      margin-top: 22px;
      @include textStyle(14px, #887d7d, 500, normal);
      margin-left: 14px;
    }
    textarea {
      width: 373px;
      height: 165px;
      resize: none;
      outline: none;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #9f9b9b;
    }
    #button {
      margin-top: 8px;
      width: 76px;
      height: 37px;
      border: none;
      border-radius: 5px;
      background: #bece00;
      margin-left: 297px;
      @include textStyle(14px, #f5f5f5, 600, 17px);
    }
  }
}

@media screen and (max-width: 820px) {
  #ContactUsContent {
    width: $desktop;
    height: 601px;
    background-image: url(../../Images/Contact\ Us/contactUs.png);
    margin-bottom: 50px;
    padding: 0 10px 50px 0;
    @include display(end, end);
    .conUs {
      width: 127px;
      height: 86px;
      margin-right: 33px;
      @include display($alignItem: start, $flexDirection: column);
      a {
        @include textStyle(14px, #fff, 500, normal);
      }
      nav {
        width: 127px;
        @include display;
      }
    }
    form {
      width: 265px;
      height: 335px;
      padding: 15px 20px;
      margin-bottom: 50px;
      &::before {
        width: 252px;
        left: calc(50% - 126px);
        @include textStyle(24px);
      }
      textarea {
        width: 228px;
      }
      #button {
        margin: 0;
        width: 265px;
        position: absolute;
        bottom: -50px;
        left: 0px;
      }
    }
  }
}
