<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../Style/font.css" />
    <link rel="stylesheet" href="ContactUs.css" />
    <link rel="icon" href="../../Images/overz-logo.svg" />
    <title>Contact Us</title>
  </head>
  <body>
    <main>
      <header>
        <div class="head">
          <div class="nav">
            <div class="Search">
              <img src="../../Images/carbon_search.svg" />
              <a href="">Search</a>
            </div>
            <div class="FollowUs">
              <a href="">Follow Us</a>
            </div>
            <div class="LogIn">
              <img src="../../Images/healthicons_ui-user-profile.svg" />
              <a href="">Log In</a>
            </div>
            <button>EN</button>
          </div>
        </div>
        <div class="body">
          <a href="../../index.html"
            ><img src="../../Images/overz-logo.svg" alt="Overz"
          /></a>
          <nav>
            <a href="../../index.html">HOME</a>
            <a href="../aboutUs/AboutUs.html">About Us</a>
            <a href="../topos/Topos.html">Topos</a>
            <a href="../events/Events.html">Events</a>
            <a href="../news/News.html">News</a>
            <a href="../vlog/Vlog.html">Vlog</a>
            <a href="../gallery/Gallery.html">Gallery</a>
            <a href="../skills/Skills.html">Skills</a>
            <a href="ContactUs.html">Contact Us</a>
          </nav>
        </div>
        <div class="foot">
          <h2>Home/Contact Us</h2>
        </div>
      </header>
      <section id="ContactUsContent">
        <img src="../../Images/Contact Us/unsplash_AlfXMSDNzxI.png" />
        <div class="conUs">
          <a href="">+(374)55 566 789</a>
          <a href="">info@overz.am</a>
          <nav>
            <a href=""><img src="../../Images/webSites/telegram.svg" /></a>
            <a href=""><img src="../../Images/webSites/instagram.svg" /></a>
            <a href=""><img src="../../Images/webSites/facebook.svg" /></a>
            <a href=""><img src="../../Images/webSites/linkedin.svg" /></a>
            <a href=""><img src="../../Images/webSites/youtube.svg" /></a>
          </nav>
        </div>
        <div class="comArea">
          <input type="text" placeholder="name" />
          <input type="email" placeholder="e-mail" />
          <label for="com">Message</label>
          <textarea id="com"></textarea>
          <button>Send</button>
        </div>
      </section>
      <footer>
        <div class="FooterContent">
          <a href="../../index.html">
            <img src="../../Images/overz-logo.svg" alt="Overz" />
          </a>
          <div class="footerNav">
            <nav>
              <a href="">My Account</a>
              <a href="../../index.html">HOME</a>
              <a href="ContactUs.html">Contact Us</a>
              <a href="../aboutUs/AboutUs.html">About Us</a>
            </nav>
            <div class="FollowUs">
              <h2>Follow Us</h2>
              <nav>
                <a href=""><img src="../../Images/webSites/telegram.svg" /></a>
                <a href=""><img src="../../Images/webSites/instagram.svg" /></a>
                <a href=""><img src="../../Images/webSites/facebook.svg" /></a>
                <a href=""><img src="../../Images/webSites/linkedin.svg" /></a>
                <a href=""><img src="../../Images/webSites/youtube.svg" /></a>
              </nav>
            </div>
          </div>
        </div>
      </footer>
    </main>
  </body>
</html>
