@import "../../Style/style.css";
@import "../../Style/variables";
@import "../../Style/mixins";

#SkillsContent {
  width: $content;
  height: auto;
  @include display($flexWrap: wrap);
  .Cart {
    @include cart($height: 400px);
  }
}

@media screen and (max-width: 820px) {
  #SkillsContent {
    .Cart {
      width: 234px;
      height: 234px;
      padding: 7px;
    }
  }
}
