@import "../../Style/style.css";
@import "../../Style/variables";
@import "../../Style/mixins";

#SkillsContent {
  width: $content;
  height: auto;
  @include display($flexWrap: wrap);
  .Cart {
    @include cart($height: 400px);
  }
}

@media screen and (max-width: 820px) {
  #SkillsContent {
    .Cart {
      width: 234px;
      height: 234px;
      padding: 7px;
    }
  }
}

@media screen and (max-width: 540px) {
  :root {
    --desktop: 100%;
    --content: 288px;
    #SkillsContent {
      .Cart {
        @include cart(134px, 134px);
        padding: 7px;
      }
    }
    section nav {
      margin-bottom: 15px;
    }
  }
}
