<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../Style/font.css" />
    <link rel="stylesheet" href="AboutUs.css" />
    <link rel="icon" href="../../Images/Overz.svg" />
    <title>About Us</title>
  </head>
  <body>
    <main>
      <header>
        <div class="head">
          <div class="nav">
            <div class="Search">
              <img src="../../Images/carbon_search.svg" />
              <a href="">Search</a>
            </div>
            <div class="FollowUs">
              <a href="">Follow Us</a>
            </div>
            <div class="LogIn">
              <img src="../../Images/healthicons_ui-user-profile.svg" />
              <a href="../logIn/Login.html">Log In</a>
            </div>
            <button>EN</button>
          </div>
        </div>
        <div class="body">
          <a href="../../index.html"
            ><img src="../../Images/overz-logo.svg" alt="Overz"
          /></a>
          <nav>
            <a href="../../index.html">HOME</a>
            <a href="AboutUs.html" id="active">About Us</a>
            <a href="../topos/Topos.html">Topos</a>
            <a href="../events/Events.html">Events</a>
            <a href="../news/News.html">News</a>
            <a href="../vlog/Vlog.html">Vlog</a>
            <a href="../gallery/Gallery.html">Gallery</a>
            <a href="../skills/Skills.html">Skills</a>
            <a href="../contactUs/ContactUs.html">Contact Us</a>
          </nav>
        </div>
        <div class="foot">
          <h2><a href="../../index.html">Home</a>/About Us</h2>
        </div>
      </header>
      <section id="AboutImg">
        <div></div>
        <h1>Overz family</h1>
      </section>
      <section id="About">
        <div class="text">
          <h2>What we're about</h2>
          <p>
            NOTE: Hudson Valley Hikers Events are by RSVP only on events posted
            to the calendar. Any other activity with members that is organized
            offline, in Meetup Discussions, or private messages; is not
            sanctioned by Hudson Valley Hikers and participation is at your own
            risk. Please contact Meetup directly if you have any questions or
            concerns.CHALLENGE YOURSELFFree outdoors group with no fees everWe
            are the largest and most active outdoors Meetup group in the
            world!Outdoors enthusiasts!!! The purpose of this group is to bring
            people together. People who like being outside, hiking, backpacking,
            camping, kayaking, cycling, mountaineering, skiing/riding, rock/ice
            climbing, caving, etc. This is an extremely active group with a full
            calendar and over 34,000 members!
          </p>
        </div>
        <div class="image">
          <img src="../../Images/AboutUs/Rectangle 215.png" />
        </div>
      </section>
      <section id="AboutUsContent">
        <div class="Cart">
          <div>
            <img src="../../Images/AboutUs/Rectangle 223.png" />
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="318"
              height="192"
              viewBox="0 0 318 192"
              fill="none"
            >
              <path
                d="M0.96875 0.78125H317.781V191.781H0.96875V0.78125Z"
                fill="url(#paint0_linear_720_1658)"
              />
              <defs>
                <linearGradient
                  id="paint0_linear_720_1658"
                  x1="159.375"
                  y1="191.781"
                  x2="159.375"
                  y2="0.78125"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#000203" />
                  <stop offset="1" stop-color="#021D25" stop-opacity="0" />
                </linearGradient>
              </defs>
            </svg>
            <h2>Persona 1</h2>
          </div>
          <p>
            Date of birth: 19.04.1994<br />Speciality: Engineer<br />Interest:
            Mountain climbing, hiking, music, swimming
          </p>
          <a href="">Read More</a>
        </div>
        <div class="Cart">
          <div>
            <img src="../../Images/AboutUs/Rectangle 224.png" />
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="318"
              height="192"
              viewBox="0 0 318 192"
              fill="none"
            >
              <path
                d="M0.96875 0.78125H317.781V191.781H0.96875V0.78125Z"
                fill="url(#paint0_linear_720_1658)"
              />
              <defs>
                <linearGradient
                  id="paint0_linear_720_1658"
                  x1="159.375"
                  y1="191.781"
                  x2="159.375"
                  y2="0.78125"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#000203" />
                  <stop offset="1" stop-color="#021D25" stop-opacity="0" />
                </linearGradient>
              </defs>
            </svg>
            <h2>Persona 2</h2>
          </div>
          <p>
            Date of birth: 19.04.1994<br />Speciality: Engineer<br />Interest:
            Mountain climbing, hiking, music, swimming
          </p>
          <a href="">Read More</a>
        </div>
        <div class="Cart">
          <div>
            <img src="../../Images/AboutUs/Rectangle 225.png" />
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="318"
              height="192"
              viewBox="0 0 318 192"
              fill="none"
            >
              <path
                d="M0.96875 0.78125H317.781V191.781H0.96875V0.78125Z"
                fill="url(#paint0_linear_720_1658)"
              />
              <defs>
                <linearGradient
                  id="paint0_linear_720_1658"
                  x1="159.375"
                  y1="191.781"
                  x2="159.375"
                  y2="0.78125"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#000203" />
                  <stop offset="1" stop-color="#021D25" stop-opacity="0" />
                </linearGradient>
              </defs>
            </svg>
            <h2>Persona 3</h2>
          </div>
          <p>
            Date of birth: 19.04.1994<br />Speciality: Engineer<br />Interest:
            Mountain climbing, hiking, music, swimming
          </p>
          <a href="">Read More</a>
        </div>
        <div class="Cart">
          <div>
            <img src="../../Images/AboutUs/Rectangle 226.png" />
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="318"
              height="192"
              viewBox="0 0 318 192"
              fill="none"
            >
              <path
                d="M0.96875 0.78125H317.781V191.781H0.96875V0.78125Z"
                fill="url(#paint0_linear_720_1658)"
              />
              <defs>
                <linearGradient
                  id="paint0_linear_720_1658"
                  x1="159.375"
                  y1="191.781"
                  x2="159.375"
                  y2="0.78125"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#000203" />
                  <stop offset="1" stop-color="#021D25" stop-opacity="0" />
                </linearGradient>
              </defs>
            </svg>
            <h2>Persona 4</h2>
          </div>
          <p>
            Date of birth: 19.04.1994<br />Speciality: Engineer<br />Interest:
            Mountain climbing, hiking, music, swimming
          </p>
          <a href="">Read More</a>
        </div>
        <div class="Cart">
          <div>
            <img src="../../Images/AboutUs/Rectangle 227.png" />
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="318"
              height="192"
              viewBox="0 0 318 192"
              fill="none"
            >
              <path
                d="M0.96875 0.78125H317.781V191.781H0.96875V0.78125Z"
                fill="url(#paint0_linear_720_1658)"
              />
              <defs>
                <linearGradient
                  id="paint0_linear_720_1658"
                  x1="159.375"
                  y1="191.781"
                  x2="159.375"
                  y2="0.78125"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#000203" />
                  <stop offset="1" stop-color="#021D25" stop-opacity="0" />
                </linearGradient>
              </defs>
            </svg>
            <h2>Persona 5</h2>
          </div>
          <p>
            Date of birth: 19.04.1994<br />Speciality: Engineer<br />Interest:
            Mountain climbing, hiking, music, swimming
          </p>
          <a href="">Read More</a>
        </div>
        <div class="Cart">
          <div>
            <img src="../../Images/AboutUs/Rectangle 228.png" />
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="318"
              height="192"
              viewBox="0 0 318 192"
              fill="none"
            >
              <path
                d="M0.96875 0.78125H317.781V191.781H0.96875V0.78125Z"
                fill="url(#paint0_linear_720_1658)"
              />
              <defs>
                <linearGradient
                  id="paint0_linear_720_1658"
                  x1="159.375"
                  y1="191.781"
                  x2="159.375"
                  y2="0.78125"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#000203" />
                  <stop offset="1" stop-color="#021D25" stop-opacity="0" />
                </linearGradient>
              </defs>
            </svg>
            <h2>Persona 6</h2>
          </div>
          <p>
            Date of birth: 19.04.1994<br />Speciality: Engineer<br />Interest:
            Mountain climbing, hiking, music, swimming
          </p>
          <a href="">Read More</a>
        </div>
      </section>
      <footer>
        <div class="FooterContent">
          <a href="../../index.html">
            <img src="../../Images/overz-logo.svg" alt="Overz" />
          </a>
          <div class="footerNav">
            <nav>
              <a href="">My Account</a>
              <a href="../../index.html">HOME</a>
              <a href="../contactUs/ContactUs.html">Contact Us</a>
              <a href="AboutUs.html">About Us</a>
            </nav>
            <div class="FollowUs">
              <h2>Follow Us</h2>
              <nav>
                <a href="https://web.telegram.org/a/"
                  ><img src="../../Images/webSites/telegram.svg"
                /></a>
                <a href="https://www.instagram.com/"
                  ><img src="../../Images/webSites/instagram.svg"
                /></a>
                <a href="https://www.facebook.com/"
                  ><img src="../../Images/webSites/facebook.svg"
                /></a>
                <a href="https://www.linkedin.com/"
                  ><img src="../../Images/webSites/linkedin.svg"
                /></a>
                <a href="https://www.youtube.com/"
                  ><img src="../../Images/webSites/youtube.svg"
                /></a>
              </nav>
            </div>
          </div>
        </div>
      </footer>
    </main>
  </body>
</html>
