@import "../../Style/style.css";
@import "../../Style/variables";
@import "../../Style/mixins";

header {
  height: 399px;
  @include display($flexDirection: column);
}

#GalleryContent {
  width: $content;
  height: auto;
  @include display($flexWrap: wrap);
  .Cart {
    height: 500px;
  }
}

section {
  nav {
    width: 196.883px;
    height: 18px;
    margin-bottom: 64px;
    @include display;
    a {
      @include textStyle(12px, #022d3a, 500, 18px);
    }
  }
}
