@import "../../Style/style.css";
@import "../../Style/variables";
@import "../../Style/mixins";

#VlogContent {
  width: $content;
  height: auto;
  @include display($flexWrap: wrap);
  .VideoCart {
    width: 1178px;
    height: 750px;
    padding: 50px 79px 45px 79px;
    div {
      width: 1020px;
      height: 550px;
      svg {
        width: 1020px;
        height: 350px;
        top: 200px;
      }
    }
    a {
      width: 1025px;
    }
  }
  .Cart {
    height: 500px;
  }
}

section {
  nav {
    width: 196.883px;
    height: 18px;
    margin-bottom: 64px;
    @include display;
    a {
      @include textStyle(12px, #022d3a, 500, 18px);
    }
  }
}

@media screen and (max-width: 1200px) {
  #VlogContent {
    width: $content;
    height: auto;
    @include display($flexWrap: wrap);
    .VideoCart {
      width: 780px;
      height: 500px;
      padding: 50px 20px 45px 20px;
      div {
        width: 740px;
        height: 350px;
        svg {
          width: 740px;
          top: 25px;
        }
      }
      a {
        width: 730px;
      }
    }
    .Cart {
      height: 500px;
    }
  }
}
